* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.header__indicators {
  display: flex;
  gap: 50px;
}
.header__indicators-element {
  font-size: 18px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 70px 0px;
}
.main__title {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
}

.task-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-block__answer {
  padding: 15px 150px;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  border: 0.5px solid #000000;
  border-radius: 5px;
  transition: all 0.3s;
}
.task-block__answer:hover {
  background-color: #c8e9ff;
}

.right-answer {
  background-color: #8cff6f;
}

.wrong-answer {
  background-color: #ff6f6f;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.chenge-language-mode-block__element {
  padding: 10px;
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
}
.chenge-language-mode-block__element:hover {
  background-color: #c8e9ff;
}