:root {
  --main-color: #000000;
  --accent-color: #8cff6f;
  --error-color: #ff6f6f;
  --highlight-color: #c8e9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.header__indicators {
  display: flex;
  gap: 50px;
}
.header__indicators-element {
  font-size: 18px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding: 70px 0px;
}
.main__titles {
  text-align: center;
}
.main__title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-color);
}
.main__hint-title {
  font-size: 14px;
  font-weight: 700;
  color: var(--main-color);
}

.task-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-block__answer {
  padding: 15px 150px;
  color: var(--main-color);
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  border: 0.5px solid var(--main-color);
  border-radius: 5px;
  transition: all 0.3s;
}
.task-block__answer:hover {
  background-color: var(--highlight-color);
}

.right-answer {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.wrong-answer {
  color: var(--error-color);
  border-color: var(--error-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.chenge-language-mode-block__element, .chenge-language-mode-block .get-hint-button {
  padding: 10px;
  color: var(--main-color);
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
}
.chenge-language-mode-block__element:hover, .chenge-language-mode-block .get-hint-button:hover {
  background-color: var(--highlight-color);
}

.hidden {
  display: none;
}