:root {
    --main-color: #000000;
    --accent-color: #8cff6f;
    --error-color: #ff6f6f;
    --highlight-color: #c8e9ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    &__indicators {
        display: flex;
        gap: 50px;
    }

    &__indicators-element {
        font-size: 18px;
    }
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding: 70px 0px;
    &__titles {
        text-align: center;
    }
    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--main-color);
    }
    &__hint-title {
        font-size: 14px;
        font-weight: 700;
        color: var(--main-color);
    }
}
.task-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__answer {
        padding: 15px 150px;
        color: var(--main-color);
        font-size: 1.1rem;
        text-align: center;
        text-decoration: none;
        border: 0.5px solid var(--main-color);
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
            background-color: var(--highlight-color);
        }
    }
}

.right-answer {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.wrong-answer {
    color: var( --error-color);
    border-color: var( --error-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.chenge-language-mode-block {

		&__element, .get-hint-button {
            padding: 10px;
            color: var(--main-color);
            font-size: 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: all 0.3s;

            &:hover {
                background-color: var(--highlight-color);
            }
		}
}

.hidden {
    display: none;
}